{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block label %}

{% endblock %}

{% block content %}
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" id="csrf_token">
        <table class="table table-bordered" >

            <tr>

                <th>请假人</th>
                <td><input type="text" name="request_user"></td>
                <th>请假类型</th>
                <td><select name="select" >
                    <option>婚假</option>
                    <option>产假</option>
                    <option>年假</option>
                    <option>病假</option>
                    <option>调休</option>
                    <option>事假</option>
                    <option>出差</option>
                </select></td>
            </tr>
            <tr>
                <th>起始时间</th>
                <td><input type="date" name="start_time"></td>
                <th>结束时间</th>
                <td><input type="date" name="end_time"></td>
            </tr>
            <tr>
                <th>请假天数</th>
                <td><input type="text" name="num_day"></td>
                 <th>联系方式</th>
                <td><input type="text" name="phone"></td>
            </tr>
            <tr>
                <th>请假事由</th>
                <td><textarea name="request_reason" colspan="6"></textarea></td>

                <td><input type="submit" class="btn btn-primary" value="提交"></td>
            </tr>
        </table>
    </form>
{% endblock %}